<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
</style>
</head>
<body>

{{ range $keyS, $valueS := . }}
{{$incidents := getIncidents $valueS}}
<h2>{{ $valueS }}</h2>
{{if $incidents }}
<table>
 <tr>
    <th style="width:50%">Features</th>
    <th>Basic</th>
    <th>Basic</th>
    <th>Pro</th>
  </tr>
{{ range $key, $value := $incidents }}
  <tr>
    <td>{{ $value.Name }}</td>
    <td>{{ $value.Service }}</td>
    <td><i class="fa fa-remove"></i></td>
    <td><i class="fa fa-check"></i></td>
  </tr>
  
{{ end }}
</table>
{{else}}
<table>
<tr>
    <td>Tracker</td>
    <td><i class="fa fa-check"></i></td>
<tr>
<tr>
    <td>UI</td>
    <td><i class="fa fa-check"></i></td>
<tr>
<tr>
    <td>API</td>
    <td><i class="fa fa-check"></i></td>
<tr>
</table>
{{end}}
{{ end }}
</body>
</html>