<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
<div>
  <form method="POST" action="/">     
 <select name="service">
   {{range $key, $value := .}}
     <option value="{{ $value }}">{{ $value }}</option>
   {{end}}
      <input type="submit" value="submit" />
  </form>
</div>
</body>
</html>